.new-person {
    padding: 25px;
    background-color: white;
}

.edit-person {
    padding: 25px;
    background-color:peachpuff;
    
}

.errors {
    color=red;
    font-weight=bold;
    border: 1px solid red;
    padding: 5px;
    margin-bottom: 5px;
}