<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Numerology App</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="text-primary">Numerology Calculation <small> A Skillcrush Project by Alice Fung</small></h1>
        </div>
        
        <hr />
        <%= yield %>
        
        <hr />
        <div>
            <p> <a href="/">Home</a> |  
                <a href= "/people" >People Index: View, Edit, or Delete</a>    |     
                <a href= "/people/new" >Add Someone New</a></p>
        </div>
        <div>
            <h3>About the developer</h3>
            <p id="about">Hi! I'm Alice Fung. I am a web developer. To learn more about me, see <a href="http://alicefung.github.io/" alt="my website">my website</a>. </p>
            <p>&copy; Copyright Alice Fung 2015</p>
        </div>
    </div>
</body>
</html>